

<html lang="en"><head><title>AWR SQL Report for DB: ORA12C, Inst: ora12c, Snaps: 769-771, SQL Id: 4u03q4027rymd</title>
<style type="text/css">
body.awr {font:bold 10pt Arial,Helvetica,Geneva,sans-serif;color:black; background:White;}
pre.awr  {font:8pt Courier;color:black; background:White;}
h1.awr   {font:bold 20pt Arial,Helvetica,Geneva,sans-serif;color:#336699;background-color:White;border-bottom:1px solid #cccc99;margin-top:0pt; margin-bottom:0pt;padding:0px 0px 0px 0px;}
h2.awr   {font:bold 18pt Arial,Helvetica,Geneva,sans-serif;color:#336699;background-color:White;margin-top:4pt; margin-bottom:0pt;}
h3.awr {font:bold 16pt Arial,Helvetica,Geneva,sans-serif;color:#336699;background-color:White;margin-top:4pt; margin-bottom:0pt;}
li.awr {font: 8pt Arial,Helvetica,Geneva,sans-serif; color:black; background:White;}
th.awrnobg {font:bold 8pt Arial,Helvetica,Geneva,sans-serif; color:black; background:White;padding-left:4px; padding-right:4px;padding-bottom:2px}
th.awrbg {font:bold 8pt Arial,Helvetica,Geneva,sans-serif; color:White; background:#0066CC;padding-left:4px; padding-right:4px;padding-bottom:2px}
td.awrnc {font:8pt Arial,Helvetica,Geneva,sans-serif;color:black;background:White;vertical-align:top;}
td.awrc    {font:8pt Arial,Helvetica,Geneva,sans-serif;color:black;background:#FFFFCC; vertical-align:top;}
td.awrnclb {font:8pt Arial,Helvetica,Geneva,sans-serif;color:black;background:White;vertical-align:top;border-left: thin solid black;}
td.awrncbb {font:8pt Arial,Helvetica,Geneva,sans-serif;color:black;background:White;vertical-align:top;border-left: thin solid black;border-right: thin solid black;}
td.awrncrb {font:8pt Arial,Helvetica,Geneva,sans-serif;color:black;background:White;vertical-align:top;border-right: thin solid black;}
td.awrcrb    {font:8pt Arial,Helvetica,Geneva,sans-serif;color:black;background:#FFFFCC; vertical-align:top;border-right: thin solid black;}
td.awrclb    {font:8pt Arial,Helvetica,Geneva,sans-serif;color:black;background:#FFFFCC; vertical-align:top;border-left: thin solid black;}
td.awrcbb    {font:8pt Arial,Helvetica,Geneva,sans-serif;color:black;background:#FFFFCC; vertical-align:top;border-left: thin solid black;border-right: thin solid black;}
a.awr {font:bold 8pt Arial,Helvetica,sans-serif;color:#663300; vertical-align:top;margin-top:0pt; margin-bottom:0pt;}
td.awrnct {font:8pt Arial,Helvetica,Geneva,sans-serif;border-top: thin solid black;color:black;background:White;vertical-align:top;}
td.awrct   {font:8pt Arial,Helvetica,Geneva,sans-serif;border-top: thin solid black;color:black;background:#FFFFCC; vertical-align:top;}
td.awrnclbt  {font:8pt Arial,Helvetica,Geneva,sans-serif;color:black;background:White;vertical-align:top;border-top: thin solid black;border-left: thin solid black;}
td.awrncbbt  {font:8pt Arial,Helvetica,Geneva,sans-serif;color:black;background:White;vertical-align:top;border-left: thin solid black;border-right: thin solid black;border-top: thin solid black;}
td.awrncrbt {font:8pt Arial,Helvetica,Geneva,sans-serif;color:black;background:White;vertical-align:top;border-top: thin solid black;border-right: thin solid black;}
td.awrcrbt     {font:8pt Arial,Helvetica,Geneva,sans-serif;color:black;background:#FFFFCC; vertical-align:top;border-top: thin solid black;border-right: thin solid black;}
td.awrclbt     {font:8pt Arial,Helvetica,Geneva,sans-serif;color:black;background:#FFFFCC; vertical-align:top;border-top: thin solid black;border-left: thin solid black;}
td.awrcbbt   {font:8pt Arial,Helvetica,Geneva,sans-serif;color:black;background:#FFFFCC; vertical-align:top;border-top: thin solid black;border-left: thin solid black;border-right: thin solid black;}
table.tdiff {  border_collapse: collapse; }
.hidden   {position:absolute;left:-10000px;top:auto;width:1px;height:1px;overflow:hidden;}
.pad   {margin-left:17px;}
.doublepad {margin-left:34px;}
</style></head><body class="awr">
<h1 class="awr">
WORKLOAD REPOSITORY SQL Report

</h1>
<h2 class="awr">
Snapshot Period Summary
</h2>
<p />
<table border="1" width="500" summary="This table displays database instance information">
<tr><th class="awrbg" scope="col">DB Name</th><th class="awrbg" scope="col">DB Id</th><th class="awrbg" scope="col">Instance</th><th class="awrbg" scope="col">Inst num</th><th class="awrbg" scope="col">Startup Time</th><th class="awrbg" scope="col">Release</th><th class="awrbg" scope="col">RAC</th></tr>
<tr><td scope="row" class='awrnc'>ORA12C</td><td align="right" class='awrnc'>296871179</td><td class='awrnc'>ora12c</td><td align="right" class='awrnc'>1</td><td class='awrnc'>18-Nov-18 07:11</td><td class='awrnc'>12.1.0.1.0</td><td class='awrnc'>NO</td></tr>
</table>
<p />
<table border="1" width="500" summary="This table displays snapshot information">
<tr><th class="awrnobg" scope="col"></th><th class="awrbg" scope="col">Snap Id</th><th class="awrbg" scope="col">Snap Time</th><th class="awrbg" scope="col">Sessions</th><th class="awrbg" scope="col">Cursors/Session</th></tr>
<tr><td scope="row" class='awrnc'>Begin Snap:</td><td align="right" class='awrnc'>769</td><td align="center" class='awrnc'>18-Nov-18 13:30:30</td><td align="right" class='awrnc'>41</td><td align="right" class='awrnc'>      1.5</td></tr>
<tr><td scope="row" class='awrc'>End Snap:</td><td align="right" class='awrc'>771</td><td align="center" class='awrc'>18-Nov-18 15:30:47</td><td align="right" class='awrc'>39</td><td align="right" class='awrc'>      1.0</td></tr>
<tr><td scope="row" class='awrnc'>Elapsed:</td><td class='awrnc'>&#160;</td><td align="center" class='awrnc'>             120.29 (mins)</td><td class='awrnc'>&#160;</td><td class='awrnc'>&#160;</td></tr>
<tr><td scope="row" class='awrc'>DB Time:</td><td class='awrc'>&#160;</td><td align="center" class='awrc'>              18.22 (mins)</td><td class='awrc'>&#160;</td><td class='awrc'>&#160;</td></tr>
</table>
<p />
<a class="awr" name="10652"></a>
<h3 class="awr">SQL Summary</h3>
<ul>
</ul>
<table border="1" summary="SQL Summary"><tr><th class="awrbg" scope="col">   SQL Id</th><th class="awrbg" scope="col">Elapsed  Time (ms)</th><th class="awrbg" scope="col">Module</th><th class="awrbg" scope="col">Action</th><th class="awrbg" scope="col">SQL Text</th></tr>
<tr><td class='awrc'><a class="awr" href="#106514u03q4027rymd">4u03q4027rymd</a></td><td align="right" class='awrc'>50,658</td>
<td class='awrc'>
Module: JDBC Thin Client
</td>
<td class='awrc'>&#160;
</td>
<td class='awrc'><a class="awr" href="#4u03q4027rymd">INSERT INTO scale_data SELECT sections.n, gen.x, CEIL(DBMS_RANDOM.VALU...</a></td></tr>
</table><p />
<br /><a class="awr" href="#top">Back to Top</a><p />
<a class="awr" name="106514u03q4027rymd"></a>
<h3 class="awr">SQL ID: 4u03q4027rymd</h3>
<ul>
<li class="awr"> 1st Capture and Last Capture Snap IDs    refer to Snapshot IDs witin the snapshot range</li>
<li class="awr"><a class="awr" href="#4u03q4027rymd">INSERT INTO scale_data SELECT sections.n, gen.x, CEIL(DBMS_RANDOM.VALU...</a></li>
</ul>
<table border="1" summary="SQL ID: 4u03q4027rymd. . 1st Capture and Last Capture Snap IDs refer to Snapshot IDs witin the snapshot range"><tr><th class="awrbg" scope="col">#</th><th class="awrbg" scope="col">Plan Hash Value</th><th class="awrbg" scope="col">Total Elapsed Time(ms)</th><th class="awrbg" scope="col">Executions</th><th class="awrbg" scope="col">1st Capture Snap ID</th><th class="awrbg" scope="col">Last Capture Snap ID</th></tr>
<tr><td class='awrc'><a class="awr" href="#3034u03q4027rymd243871122">1</a></td><td class='awrc'><a class="awr" href="#3034u03q4027rymd243871122">243871122</a></td><td align="right" class='awrc'>50,658</td><td align="right" class='awrc'>1</td><td align="right" class='awrc'>770</td><td align="right" class='awrc'>770</td></tr>
</table><p />
<br /><a class="awr" href="#top">Back to Top</a><p />
<a class="awr" name="3034u03q4027rymd243871122"></a>
<h2 class="awr">
Plan 1(PHV: 243871122)
</h2>
<ul>
<li class="awr"><a class="awr" href="#106534u03q4027rymd243871122">Plan Statistics</a></li>
<li class="awr"><a class="awr" href="#999964u03q4027rymd243871122">Execution Plan</a></li>
</ul>
<a class="awr" href="#top">Back to Top</a>
<a class="awr" name="106534u03q4027rymd243871122"></a>
<h3 class="awr">Plan Statistics</h3>
<ul>
<li class="awr"> % Total DB Time is the Elapsed Time of the SQL statement divided     into the Total Database Time multiplied by 100</li>
</ul>
<table border="1" summary="Plan Statistics. . % Total DB Time is the Elapsed Time of the SQL statement divided into the Total Database Time multiplied by 100"><tr><th class="awrbg" scope="col">Stat Name</th><th class="awrbg" scope="col">Statement Total</th><th class="awrbg" scope="col">Per Execution</th><th class="awrbg" scope="col">% Snap Total</th></tr>
<tr><td class='awrc'>Elapsed Time (ms)</td><td align="right" class='awrc'>50,658</td><td align="right" class='awrc'>50,657.69</td><td align="right" class='awrc'>4.63</td></tr>
<tr><td class='awrnc'>CPU Time (ms)</td><td align="right" class='awrnc'>37,734</td><td align="right" class='awrnc'>37,734.38</td><td align="right" class='awrnc'>18.28</td></tr>
<tr><td class='awrc'>Executions</td><td align="right" class='awrc'>1</td><td align="right" class='awrc'>&#160;</td><td align="right" class='awrc'>&#160;</td></tr>
<tr><td class='awrnc'>Buffer Gets</td><td align="right" class='awrnc'>147,641</td><td align="right" class='awrnc'>147,641.00</td><td align="right" class='awrnc'>4.78</td></tr>
<tr><td class='awrc'>Disk Reads</td><td align="right" class='awrc'>0</td><td align="right" class='awrc'>0.00</td><td align="right" class='awrc'>0.00</td></tr>
<tr><td class='awrnc'>Parse Calls</td><td align="right" class='awrnc'>0</td><td align="right" class='awrnc'>0.00</td><td align="right" class='awrnc'>0.00</td></tr>
<tr><td class='awrc'>Rows</td><td align="right" class='awrc'>81,971,935</td><td align="right" class='awrc'>81,971,935.00</td><td align="right" class='awrc'>&#160;</td></tr>
<tr><td class='awrnc'>User I/O Wait Time (ms)</td><td align="right" class='awrnc'>3,174</td><td align="right" class='awrnc'>&#160;</td><td align="right" class='awrnc'>&#160;</td></tr>
<tr><td class='awrc'>Cluster Wait Time (ms)</td><td align="right" class='awrc'>0</td><td align="right" class='awrc'>&#160;</td><td align="right" class='awrc'>&#160;</td></tr>
<tr><td class='awrnc'>Application Wait Time (ms)</td><td align="right" class='awrnc'>0</td><td align="right" class='awrnc'>&#160;</td><td align="right" class='awrnc'>&#160;</td></tr>
<tr><td class='awrc'>Concurrency Wait Time (ms)</td><td align="right" class='awrc'>0</td><td align="right" class='awrc'>&#160;</td><td align="right" class='awrc'>&#160;</td></tr>
<tr><td class='awrnc'>Invalidations</td><td align="right" class='awrnc'>0</td><td align="right" class='awrnc'>&#160;</td><td align="right" class='awrnc'>&#160;</td></tr>
<tr><td class='awrc'>Version Count</td><td align="right" class='awrc'>1</td><td align="right" class='awrc'>&#160;</td><td align="right" class='awrc'>&#160;</td></tr>
<tr><td class='awrnc'>Sharable Mem(KB)</td><td align="right" class='awrnc'>35</td><td align="right" class='awrnc'>&#160;</td><td align="right" class='awrnc'>&#160;</td></tr>
</table><p />
<a class="awr" href="#3034u03q4027rymd243871122">Back to Plan 1(PHV: 243871122)</a>
<br /><a class="awr" href="#top">Back to Top</a><p />
<a class="awr" name="999964u03q4027rymd243871122"></a>
<h3 class="awr">
Execution Plan
</h3>
<table border="1"><tr><th class="awrbg" scope="col"> Id  </th><th class="awrbg" scope="col"> Operation                       </th><th class="awrbg" scope="col"> Name </th><th class="awrbg" scope="col"> Rows  </th><th class="awrbg" scope="col"> Bytes </th><th class="awrbg" scope="col"> Cost (%CPU)</th><th class="awrbg" scope="col"> Time     </th></tr>
<tr><td class="awrc">   0 </td><td class="awrc">  INSERT STATEMENT                </td><td class="awrc">&#160;</td><td class="awrc">&#160;</td><td class="awrc">&#160;</td><td class="awrc">     4 (100)</td><td class="awrc">&#160;</td></tr>
<tr><td class="awrnc">   1 </td><td class="awrnc">&#160;&#160;   LOAD TABLE CONVENTIONAL        </td><td class="awrnc">&#160;</td><td class="awrnc">&#160;</td><td class="awrnc">&#160;</td><td class="awrnc">&#160;</td><td class="awrnc">&#160;</td></tr>
<tr><td class="awrc">   2 </td><td class="awrc">&#160;&#160;&#160;&#160;    NESTED LOOPS                  </td><td class="awrc">&#160;</td><td class="awrc">     1 </td><td class="awrc">    26 </td><td class="awrc">     4   (0)</td><td class="awrc"> 00:00:01 </td></tr>
<tr><td class="awrnc">   3 </td><td class="awrnc">&#160;&#160;&#160;&#160;&#160;&#160;     VIEW                         </td><td class="awrnc">&#160;</td><td class="awrnc">     1 </td><td class="awrnc">    13 </td><td class="awrnc">     2   (0)</td><td class="awrnc"> 00:00:01 </td></tr>
<tr><td class="awrc">   4 </td><td class="awrc">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;      CONNECT BY WITHOUT FILTERING</td><td class="awrc">&#160;</td><td class="awrc">&#160;</td><td class="awrc">&#160;</td><td class="awrc">&#160;</td><td class="awrc">&#160;</td></tr>
<tr><td class="awrnc">   5 </td><td class="awrnc">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;       FAST DUAL                  </td><td class="awrnc">&#160;</td><td class="awrnc">     1 </td><td class="awrnc">&#160;</td><td class="awrnc">     2   (0)</td><td class="awrnc"> 00:00:01 </td></tr>
<tr><td class="awrc">   6 </td><td class="awrc">&#160;&#160;&#160;&#160;&#160;&#160;     VIEW                         </td><td class="awrc">&#160;</td><td class="awrc">     1 </td><td class="awrc">    13 </td><td class="awrc">     2   (0)</td><td class="awrc"> 00:00:01 </td></tr>
<tr><td class="awrnc">   7 </td><td class="awrnc">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;      CONNECT BY WITHOUT FILTERING</td><td class="awrnc">&#160;</td><td class="awrnc">&#160;</td><td class="awrnc">&#160;</td><td class="awrnc">&#160;</td><td class="awrnc">&#160;</td></tr>
<tr><td class="awrc">   8 </td><td class="awrc">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;       FAST DUAL                  </td><td class="awrc">&#160;</td><td class="awrc">     1 </td><td class="awrc">&#160;</td><td class="awrc">     2   (0)</td><td class="awrc"> 00:00:01 </td></tr>
</table>
<p />
<a class="awr" href="#3034u03q4027rymd243871122">Back to Plan 1(PHV: 243871122)</a>
<br /><a class="awr" href="#top">Back to Top</a><p />
<a class="awr" name="99997"></a>
<p />
<h3 class="awr">Full SQL Text</h3><p />
<table border="1" summary="This table displays the text of the SQL statements which have been
      referred to in the report">
<tr><th class="awrbg" scope="col">SQL Id</th><th class="awrbg" scope="col">SQL Text</th></tr>
<tr><td scope="row" class='awrc'><a class="awr" name="4u03q4027rymd"></a>4u03q4027rymd</td><td class='awrc'>INSERT INTO scale_data
SELECT sections.n,  gen.x,  CEIL(DBMS_RANDOM.VALUE(0,  100))
  FROM (
         SELECT level - 1 n
           FROM DUAL
        CONNECT BY level &lt; 300) sections
       ,  (
         SELECT level x
           FROM DUAL
        CONNECT BY level &lt; 900000) gen
 WHERE gen.x &lt;= sections.n * 3000</td></tr>
</table>
<p />
<br /><a class="awr" href="#top">Back to Top</a><p />
</body></html>
