
<html lang="en"><head><title>ASH Report - From 06-Dec-18 01:00:00 To 06-Dec-18 01:30:00</title>
<style type="text/css">
body.awr {font:bold 10pt Arial,Helvetica,Geneva,sans-serif;color:black; background:White;}
pre.awr  {font:8pt Courier;color:black; background:White;}
h1.awr   {font:bold 20pt Arial,Helvetica,Geneva,sans-serif;color:#336699;background-color:White;border-bottom:1px solid #cccc99;margin-top:0pt; margin-bottom:0pt;padding:0px 0px 0px 0px;}
h2.awr   {font:bold 18pt Arial,Helvetica,Geneva,sans-serif;color:#336699;background-color:White;margin-top:4pt; margin-bottom:0pt;}
h3.awr {font:bold 16pt Arial,Helvetica,Geneva,sans-serif;color:#336699;background-color:White;margin-top:4pt; margin-bottom:0pt;}
li.awr {font: 8pt Arial,Helvetica,Geneva,sans-serif; color:black; background:White;}
th.awrnobg {font:bold 8pt Arial,Helvetica,Geneva,sans-serif; color:black; background:White;padding-left:4px; padding-right:4px;padding-bottom:2px}
th.awrbg {font:bold 8pt Arial,Helvetica,Geneva,sans-serif; color:White; background:#0066CC;padding-left:4px; padding-right:4px;padding-bottom:2px}
td.awrnc {font:8pt Arial,Helvetica,Geneva,sans-serif;color:black;background:White;vertical-align:top;}
td.awrc    {font:8pt Arial,Helvetica,Geneva,sans-serif;color:black;background:#FFFFCC; vertical-align:top;}
td.awrnclb {font:8pt Arial,Helvetica,Geneva,sans-serif;color:black;background:White;vertical-align:top;border-left: thin solid black;}
td.awrncbb {font:8pt Arial,Helvetica,Geneva,sans-serif;color:black;background:White;vertical-align:top;border-left: thin solid black;border-right: thin solid black;}
td.awrncrb {font:8pt Arial,Helvetica,Geneva,sans-serif;color:black;background:White;vertical-align:top;border-right: thin solid black;}
td.awrcrb    {font:8pt Arial,Helvetica,Geneva,sans-serif;color:black;background:#FFFFCC; vertical-align:top;border-right: thin solid black;}
td.awrclb    {font:8pt Arial,Helvetica,Geneva,sans-serif;color:black;background:#FFFFCC; vertical-align:top;border-left: thin solid black;}
td.awrcbb    {font:8pt Arial,Helvetica,Geneva,sans-serif;color:black;background:#FFFFCC; vertical-align:top;border-left: thin solid black;border-right: thin solid black;}
a.awr {font:bold 8pt Arial,Helvetica,sans-serif;color:#663300; vertical-align:top;margin-top:0pt; margin-bottom:0pt;}
td.awrnct {font:8pt Arial,Helvetica,Geneva,sans-serif;border-top: thin solid black;color:black;background:White;vertical-align:top;}
td.awrct   {font:8pt Arial,Helvetica,Geneva,sans-serif;border-top: thin solid black;color:black;background:#FFFFCC; vertical-align:top;}
td.awrnclbt  {font:8pt Arial,Helvetica,Geneva,sans-serif;color:black;background:White;vertical-align:top;border-top: thin solid black;border-left: thin solid black;}
td.awrncbbt  {font:8pt Arial,Helvetica,Geneva,sans-serif;color:black;background:White;vertical-align:top;border-left: thin solid black;border-right: thin solid black;border-top: thin solid black;}
td.awrncrbt {font:8pt Arial,Helvetica,Geneva,sans-serif;color:black;background:White;vertical-align:top;border-top: thin solid black;border-right: thin solid black;}
td.awrcrbt     {font:8pt Arial,Helvetica,Geneva,sans-serif;color:black;background:#FFFFCC; vertical-align:top;border-top: thin solid black;border-right: thin solid black;}
td.awrclbt     {font:8pt Arial,Helvetica,Geneva,sans-serif;color:black;background:#FFFFCC; vertical-align:top;border-top: thin solid black;border-left: thin solid black;}
td.awrcbbt   {font:8pt Arial,Helvetica,Geneva,sans-serif;color:black;background:#FFFFCC; vertical-align:top;border-top: thin solid black;border-left: thin solid black;border-right: thin solid black;}
table.tdiff {  border_collapse: collapse; }
.hidden   {position:absolute;left:-10000px;top:auto;width:1px;height:1px;overflow:hidden;}
.pad   {margin-left:17px;}
.doublepad {margin-left:34px;}
</style></head><body class="awr">
<h1 class="awr">
ASH Report For ORA12C/ora12c
<br /> <h3 class="awr">
(1 Report Target Specified)
</h3>

</h1>
<p />
<table border="1" width="500" summary="This table displays information about the DB/Instance  for which the ASH report is generated.">
<tr><th class="awrbg" scope="col">DB Name</th><th class="awrbg" scope="col">DB Id</th><th class="awrbg" scope="col">Instance</th><th class="awrbg" scope="col">Inst num</th><th class="awrbg" scope="col">Release</th><th class="awrbg" scope="col">RAC</th><th class="awrbg" scope="col">Host</th></tr>
<tr><td class='awrnc'>ORA12C</td><td align="right" class='awrnc'>296871179</td><td class='awrnc'>ora12c</td><td align="right" class='awrnc'>1</td><td class='awrnc'>12.1.0.1.0</td><td class='awrnc'>NO</td><td class='awrnc'>AUTOMATION-PC</td></tr>
</table>
<p />
<p />
<table border="1" width="500" summary="This table displays the CPU and memory configuration of the DB/Instance">
<tr><th class="awrbg" scope="col">CPUs</th><th class="awrbg" scope="col">SGA Size</th><th class="awrbg" scope="col">Buffer Cache</th><th class="awrbg" scope="col">Shared Pool</th><th class="awrbg" scope="col">ASH Buffer Size</th></tr>
<tr><td align="right" class='awrnc'>4</td><td align="right" class='awrnc'>1,641M (100%)</td><td align="right" class='awrnc'>1,136M (69.2%)</td><td align="right" class='awrnc'>300M (18.3%)</td><td align="right" class='awrnc'>8.0M (0.5%)</td></tr>
</table>
<p />
<p />
<table border="1" width="500" summary="This table displays information about the ASH report  such as begin and end time, sample count">
<tr><th class="awrnobg" scope="col"></th><th class="awrbg" scope="col">Sample Time</th><th class="awrbg" scope="col">Data Source</th></tr>
<tr><td class='awrc'>Analysis Begin Time:</td><td align="right" class='awrc'>06-Dec-18 01:00:00</td><td align="center" class='awrc'>DBA_HIST_ACTIVE_SESS_HISTORY<br />in AWR snapshot 876</td></tr>
<tr><td class='awrnc'>Analysis End Time:</td><td align="right" class='awrnc'>06-Dec-18 01:30:00</td><td align="center" class='awrnc'>DBA_HIST_ACTIVE_SESS_HISTORY<br />in AWR snapshot 876</td></tr>
<tr><td class='awrc'>Elapsed Time:</td><td align="right" class='awrc'>      30.0 (mins) </td><td align="center" class='awrc'>&#160;</td></tr>
<tr><td class='awrnc'>Sample Count:</td><td align="right" class='awrnc'>          0</td><td class='awrnc'>&#160;</td></tr>
<tr><td class='awrc'>Average Active Sessions:</td><td align="right" class='awrc'>       0.00</td><td class='awrc'>&#160;</td></tr>
<tr><td class='awrnc'>Avg. Active Session per CPU:</td><td align="right" class='awrnc'>       0.00</td><td class='awrnc'>&#160;</td></tr>
<tr><td class='awrnc'>Report Target:</td><td align="right" class='awrnc'>SQL_ID like '14puzt7db5fz4'</td><td align="center" class='awrnc'>&#160;</td></tr>
</table>
<p />
<a class="awr" name="top"></a>
<h2 class="awr">
ASH Report
</h2>
<ul>
<li class="awr"><a class="awr" href="#101">Top Events</a></li>
<li class="awr"><a class="awr" href="#102">Load Profile</a></li>
<li class="awr"><a class="awr" href="#104">Top SQL</a></li>
<li class="awr"><a class="awr" href="#10380">Top PL/SQL</a></li>
<li class="awr"><a class="awr" href="#10390">Top Java</a></li>
<li class="awr"><a class="awr" href="#10391">Top Call Types</a></li>
<li class="awr"><a class="awr" href="#105">Top Sessions</a></li>
<li class="awr"><a class="awr" href="#106">Top Objects/Files/Latches</a></li>
<li class="awr"><a class="awr" href="#10200">Activity Over Time</a></li>
</ul>
<br /><a class="awr" href="#top">Back to Top</a><hr /><p />
<a class="awr" name="101"></a>
<h2 class="awr">
Top Events
</h2>
<ul>
<li class="awr"><a class="awr" href="#10010">Top User Events</a></li>
<li class="awr"><a class="awr" href="#10020">Top Background Events</a></li>
<li class="awr"><a class="awr" href="#10030">Top Event P1/P2/P3 Values</a></li>
</ul>
<a class="awr" href="#top">Back to Top</a><p />
<a class="awr" name="10010"></a>
<h3 class="awr">Top User Events</h3>

<p />
                  No data exists for this section of the report.
<p />
<a class="awr" href="#101">Back to Top Events</a>
<br /><a class="awr" href="#top">Back to Top</a><p />
<a class="awr" name="10020"></a>
<h3 class="awr">Top Background Events</h3>

<p />
                  No data exists for this section of the report.
<p />
<a class="awr" href="#101">Back to Top Events</a>
<br /><a class="awr" href="#top">Back to Top</a><p />
<a class="awr" name="10030"></a>
<h3 class="awr">Top Event P1/P2/P3 Values</h3>

<p />
                  No data exists for this section of the report.
<p />
<a class="awr" href="#101">Back to Top Events</a>
<br /><a class="awr" href="#top">Back to Top</a><p />
<p />
<a class="awr" name="102"></a>
<h2 class="awr">
Load Profile
</h2>
<ul>
<li class="awr"><a class="awr" href="#10100">Top Service/Module</a></li>
<li class="awr"><a class="awr" href="#10110">Top Client IDs</a></li>
<li class="awr"><a class="awr" href="#10120">Top SQL Command Types</a></li>
<li class="awr"><a class="awr" href="#10130">Top Phases of Execution</a></li>
</ul>
<a class="awr" href="#top">Back to Top</a><p />
<a class="awr" name="10100"></a>
<h3 class="awr">Top Service/Module</h3>

<p />
                  No data exists for this section of the report.
<p />
<a class="awr" href="#102">Back to Load Profile</a>
<br /><a class="awr" href="#top">Back to Top</a><p />
<a class="awr" name="10110"></a>
<h3 class="awr">Top Client IDs</h3>

<p />
                  No data exists for this section of the report.
<p />
<a class="awr" href="#102">Back to Load Profile</a>
<br /><a class="awr" href="#top">Back to Top</a><p />
<a class="awr" name="10120"></a>
<h3 class="awr">Top SQL Command Types</h3>

<p />
                  No data exists for this section of the report.
<p />
<a class="awr" href="#102">Back to Load Profile</a>
<br /><a class="awr" href="#top">Back to Top</a><p />
<a class="awr" name="10130"></a>
<h3 class="awr">Top Phases of Execution</h3>

<p />
                  No data exists for this section of the report.
<p />
<a class="awr" href="#102">Back to Load Profile</a>
<br /><a class="awr" href="#top">Back to Top</a><p />
<p />
<a class="awr" name="104"></a>
<h2 class="awr">
Top SQL
</h2>
<ul>
<li class="awr"><a class="awr" href="#10300">Top SQL with Top Events</a></li>
<li class="awr"><a class="awr" href="#10305">Top SQL with Top Row Sources</a></li>
<li class="awr"><a class="awr" href="#10370">Top SQL using literals</a></li>
<li class="awr"><a class="awr" href="#10375">Top Parsing Module/Action</a></li>
<li class="awr"><a class="awr" href="#99997">Complete List of SQL Text</a></li>
</ul>
<a class="awr" href="#top">Back to Top</a><p />
<a class="awr" name="10300"></a>
<h3 class="awr">Top SQL with Top Events</h3>

<p />
                  No data exists for this section of the report.
<p />
<a class="awr" href="#104">Back to Top SQL</a>
<br /><a class="awr" href="#top">Back to Top</a><p />
<a class="awr" name="10305"></a>
<h3 class="awr">Top SQL with Top Row Sources</h3>

<p />
                  No data exists for this section of the report.
<p />
<a class="awr" href="#104">Back to Top SQL</a>
<br /><a class="awr" href="#top">Back to Top</a><p />
<a class="awr" name="10370"></a>
<h3 class="awr">Top SQL using literals</h3>

<p />
                  No data exists for this section of the report.
<p />
<a class="awr" href="#104">Back to Top SQL</a>
<br /><a class="awr" href="#top">Back to Top</a><p />
<a class="awr" name="10375"></a>
<h3 class="awr">Top Parsing Module/Action</h3>

<p />
                  No data exists for this section of the report.
<p />
<a class="awr" href="#104">Back to Top SQL</a>
<br /><a class="awr" href="#top">Back to Top</a><p />
<a class="awr" name="99997"></a>
<p />
<h3 class="awr">Complete List of SQL Text</h3><p />
<p />
                  No data exists for this section of the report.
<p />
<a class="awr" href="#104">Back to Top SQL</a>
<br /><a class="awr" href="#top">Back to Top</a><p />
<p />
<a class="awr" name="10380"></a>
<h3 class="awr">Top PL/SQL Procedures</h3>

<p />
                  No data exists for this section of the report.
<p />
<br /><a class="awr" href="#top">Back to Top</a><p />
<p />
<a class="awr" name="10390"></a>
<h3 class="awr">Top Java Workload</h3>

<p />
                  No data exists for this section of the report.
<p />
<br /><a class="awr" href="#top">Back to Top</a><p />
<p />
<a class="awr" name="10391"></a>
<h3 class="awr">Top Call Types</h3>

<p />
                  No data exists for this section of the report.
<p />
<br /><a class="awr" href="#top">Back to Top</a><p />
<p />
<a class="awr" name="105"></a>
<h2 class="awr">
Top Sessions
</h2>
<ul>
<li class="awr"><a class="awr" href="#10310">Top Sessions</a></li>
<li class="awr"><a class="awr" href="#10320">Top Blocking Sessions</a></li>
<li class="awr"><a class="awr" href="#10330">Top Sessions running PQs</a></li>
</ul>
<a class="awr" href="#top">Back to Top</a><p />
<a class="awr" name="10310"></a>
<h3 class="awr">Top Sessions</h3>

<p />
                  No data exists for this section of the report.
<p />
<a class="awr" href="#105">Back to Top Sessions</a>
<br /><a class="awr" href="#top">Back to Top</a><p />
<a class="awr" name="10320"></a>
<h3 class="awr">Top Blocking Sessions</h3>

<p />
                  No data exists for this section of the report.
<p />
<a class="awr" href="#105">Back to Top Sessions</a>
<br /><a class="awr" href="#top">Back to Top</a><p />
<a class="awr" name="10330"></a>
<h3 class="awr">Top Sessions running PQs</h3>

<p />
                  No data exists for this section of the report.
<p />
<a class="awr" href="#105">Back to Top Sessions</a>
<br /><a class="awr" href="#top">Back to Top</a><p />
<p />
<a class="awr" name="106"></a>
<h2 class="awr">
Top Objects/Files/Latches
</h2>
<ul>
<li class="awr"><a class="awr" href="#10340">Top DB Objects</a></li>
<li class="awr"><a class="awr" href="#10350">Top DB Files</a></li>
<li class="awr"><a class="awr" href="#10360">Top Latches</a></li>
</ul>
<a class="awr" href="#top">Back to Top</a><p />
<a class="awr" name="10340"></a>
<h3 class="awr">Top DB Objects</h3>

<p />
                  No data exists for this section of the report.
<p />
<a class="awr" href="#106">Back to Top Objects/Files/Latches</a>
<br /><a class="awr" href="#top">Back to Top</a><p />
<a class="awr" name="10350"></a>
<h3 class="awr">Top DB Files</h3>

<p />
                  No data exists for this section of the report.
<p />
<a class="awr" href="#106">Back to Top Objects/Files/Latches</a>
<br /><a class="awr" href="#top">Back to Top</a><p />
<a class="awr" name="10360"></a>
<h3 class="awr">Top Latches</h3>

<p />
                  No data exists for this section of the report.
<p />
<a class="awr" href="#106">Back to Top Objects/Files/Latches</a>
<br /><a class="awr" href="#top">Back to Top</a><p />
<p />
<a class="awr" name="10200"></a>
<h3 class="awr">Activity Over Time</h3>

<p />
                  No data exists for this section of the report.
<p />
<br /><a class="awr" href="#top">Back to Top</a><p />
<p />
End of Report
</body></html>
