{% extends "base_generic.html" %}

{% block content %}
 
 <h4> Dbamenu: {{ dbamenu }} </h4> 
  <form 
action="{% url 'dbamenu-viewsample' %}" method="POST" id="viewrsample_report_form_id" target="_blank">  
</form>  

<br>

<input form="viewrsample_report_form_id" class="btn btn-primary" type="submit" value="Sample Report"
name="{{dbamenu.task_number}}" id="{{dbamenu.task_number}}">  
<br>

{% if dbamenu.task_number == 1 %}
 
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
    font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
    padding: 5px; width: 100%;">
         
      Input  : sql_id or Username or OS-username or Module name
      Output : Session  details include sid,machine,session event,blocking
      Usages : 
               This is useful when need to identify which session running with specific details.
               During DML active sessions, previous_sql_id provides which query is running
               Also,  session event  helps to identify which wait event is currently active
      </pre>      
      <br>            
            
{% elif dbamenu.task_number == 2 %}

<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
    font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
    padding: 5px; width: 100%;">
         
      Input  : sql_id  
      Output : Session and Process Information,sql statement, wait event details, Session long operation
      Usages : 
            Useful when required additional details regarding specific session.
            This includes OS Process, Client Mahine and other session related information. 
            Also, provide sql text and wait event statistics which helps for troushoot query long running isssues.
</pre>      
<br> 

{% elif dbamenu.task_number == 3 %}

<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
    font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
    padding: 5px; width: 100%;">
      Input : Current active sqlid   
      Output: Query plan hash value, number of executions,total elapsed time,remote run 
      Usages : 
            Currently executed query plan hash value which is key factor during query tuning 
            Also, provide number of rows retrieved, remotely query access or not 
</pre>        
<br> 

{% elif dbamenu.task_number == 4 %}

<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
    font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
    padding: 5px; width: 100%;">
         
      Input  : sql_id  
      Output : Query Plan, remote query and execution details
      Usages : 
            Long running session analysis purpose
            Query explain plan provide details how internal query executes 
            stale stats detals help to identify if any issues
            flush plan syntax which is required if need to purge plan from memory  
</pre>      
<br>
  
{% elif dbamenu.task_number == 5 %}

<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
      Input  : sql_id  
      Output : Sql advisory report which provide query tuning related recommendations
      Usages :
            Report provide all execution plan and relative cost 
            Provide ratio of improvemnt if adapt suggested plan
            Index recommendation
            Query explan plan comparision 
            Generate sql profile for query performance improvement 
</pre>
<br> 

{% elif dbamenu.task_number == 6 %}
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
      Input  : sql_id  
      Output : Sql Query Text
      Usages :
            Full query text
            sql text from memory and from history
      </pre>
      <br>       


{% elif dbamenu.task_number == 7 %}
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
      Input  : sql_id  
      Output : stale stats for all the tables which is part of sqlid 
      Usages :
            table stale stats which includes number of insert/delete/update records
            Also, provide details of last analyzed time and truncated if any.
      </pre>
      <br>       
      
{% elif dbamenu.task_number == 8 %}
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
      Input  : sql_id  
      Output : session kill syntax of sql_id and flush query plan syntax
      Usages :
            This helps when parallel session running with same query and need to kill all the sessions
            Also, purge plan syntax which helps to flush plan from memory when query wants to force re-parse.
      </pre>
      <br>       

{% elif dbamenu.task_number == 9 %}
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
      Input  : sql_id  
      Output : ASH Report generation 
      Usages :
            ASH report  helps during performance analysis of specific session/sqid
</pre><br>

{% elif dbamenu.task_number == 10 %}
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
      Input  : sql_id, start and end time  
      Output : sql plan stats Report 
      Usages :
            sql plan stats report provide details include execution plan, any blocking detail
</pre><br>


{% elif dbamenu.task_number == 11 %}
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
      Input  : number of days  
      Output : List of al the query whose plan got change within specified days 
      Usages :
            This report helps to identify the query whose plan hash value fluctuate frequently
            Also, provide plan comparision ratio with additinal details.
             
</pre><br>	  

{% elif dbamenu.task_number == 12 %}
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
      Input  : owner,table name  
      Output : table and index statistics
      Usages :
            Provide details regarding table stats includes partition details
            details of column level stats 
            Also, provide index details  
</pre><br> 	  

{% elif dbamenu.task_number == 13 %}
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
      Input  : None 
      Output : Session wait event
      Usages :
            system level wait event statistics
            This helps to diagnosis overall system related performance issues 
</pre><br>       

{% elif dbamenu.task_number == 14 %}
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
      Input  : None 
      Output : High CPU utilized sessions
      Usages :
            This helps to identify top cpu consume sessions and database time 
</pre><br>        

{% elif dbamenu.task_number == 15 %}
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
      Input  : None 
      Output : Database blocking sessions
      Usages :
            Database blocking is the key factor for performance degrade. This query helps to ientify blocking.
            Get the details regarding blocking and blockers.
            List of of current locked objects
</pre><br> 

{% elif dbamenu.task_number == 16 %}
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
      Input  : None 
      Output : Latch wait event
      Usages :
             Internal locking/latches related wait event report
</pre><br>

{% elif dbamenu.task_number == 17 %}
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
      Input  : start and end time 
      Output : Top 10 IO utilized query
      Usages :
            sesion history of cpu utilized and waiting details
</pre><br>

{% elif dbamenu.task_number == 18 %}
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
      Input  : start and end time 
      Output : Top 5  cpu utilized query
      Usages :
            Highest cpu consumation sql query history report
</pre><br>

{% elif dbamenu.task_number == 19 %}
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
      Input  : start and end time 
      Output : Top 5  object utilized query
      Usages :
            Highest object utilization history report
</pre><br>

{% elif dbamenu.task_number == 20 %}
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
      Input  : username,session id,sql_id or object name 
      Output : Show all history sessions
      Usages :
            This report is quite useful when need to identify performanc history 
            Sessions specific wait event, blocking status with session details
</pre><br> 

{% elif dbamenu.task_number == 21 %}
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
      Input  : username,session id,sql_id or object name 
      Output : Show all history sessions
      Usages :
            Session history for specific username/objects/sid/sql_id
            This report provie query execution plan, query elapsed time etc
</pre><br>

{% elif dbamenu.task_number == 22 %}
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
      Input  : sql query history 
      Output : sql query history
      Usages :
            Privde sql query report  
</pre><br>

{% elif dbamenu.task_number == 23 %}
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
      Input  : sql query history 
      Output : sql query history
      Usages :
            Privde sql query report  
</pre><br>

{% elif dbamenu.task_number == 24 %}
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
      Input  : start and end time 
      Output : ADDM report
      Usages :
           ADDM Reort for tuning purpose 
</pre><br>	

{% elif dbamenu.task_number == 25 %}
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
     Input  : None
     Output : Archive generation report
     Usages :
          Check archive gap statistics
          Archive generation per hour details
          Archive/Dataguard related error report 
</pre><br>

{% elif dbamenu.task_number == 26 %}
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
     Input  : None
     Output : Alert log generation report
     Usages :
          only ORA- error related report generate from alert log file
</pre><br>


{% elif dbamenu.task_number == 27 %}
 

{% elif dbamenu.task_number == 28 %}
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
     Input  : None
     Output : Temporary tablespace utilization details
     Usages :
            This report provide information regarding temp tablespace 
            Also provide list of temp space utilized  session details
            Also provide temp segment details
</pre><br>  

{% elif dbamenu.task_number == 29 %}
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
     Input  : username/None
     Output : All Active sessions
     Usages :
            List of all user specific or all the active sessions 
</pre><br>

{% elif dbamenu.task_number == 30 %}
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
     Input  : None
     Output : All insert/update/delete related DML sessions
     Usages :
            Idenity all dml transaction sessions
            This is useful when archive generation more
</pre><br>

{% elif dbamenu.task_number == 31 %}
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
     Input  : None
     Output : All Database Sessions include system related background sessions
     Usages :
            Idenity all dml transaction sessions
            This is useful when archive generation more
</pre><br>

{% elif dbamenu.task_number == 32 %}
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
     Input  : None
     Output : open active/inactive transaction
     Usages :
            Long runnning active/inactive transactions 
</pre><br>
     
{% elif dbamenu.task_number == 33 %}
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
     Input  : tablespace name
     Output : Tablespace free space utilization details
     Usages :
            This report provide tablespace specific free and used space information
            Also provide tablespace growth details
            tablespace related all datafile status
            ASM diskgroup status (if exist)            
</pre><br>  


{% elif dbamenu.task_number == 35 %}
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
     Input  : None
     Output : Undo tablespace utilization details
     Usages :
            This report provide information regarding undo tablespace 
            Also provide list of undo space utilized  session details
</pre><br> 

{% elif dbamenu.task_number == 36 %}
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
     Input  : None
     Output : ASM disk details
     Usages :
            ASM all disk free and utilizd space details  
</pre><br>

{% elif dbamenu.task_number == 37 %}
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
     Input  : None
     Output : ASM Disk performance details
     Usages :
     All ASM disk read/write usage statistics  
</pre><br>			
			
{% elif dbamenu.task_number == 38 %}
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
     Input  : None
     Output : RMAN Backup inclue exectuion command history
     Usages :
           Provide details regarding rman backup
           Also, output of last execution rman command details 
</pre><br> 
	  
{% elif dbamenu.task_number == 39 %}
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
     Input  : None
     Output : Database service details
     Usages :
            Provide details regarding table stats includes partition details
            Also, provide index level stats details  
</pre><br> 


{% elif dbamenu.task_number == 40 %}
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
     Input  : None
     Output : View history log file
     Usages :
           list of all the log files in directory 
</pre><br>

{% elif dbamenu.task_number == 99 %}
<pre class="prettyprint" style="background-color: #e6e6e6; border: 1px dashed #999999; color: black; 
font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; font-size: 12px; line-height: 14px; overflow: auto; 
padding: 5px; width: 100%;">
     Input  : Quick query analysis sub tool/Interactive sql monitor
     Output : provide report of query plan, query text and other details
     Usages :
            Help during production enviroment query tuning.
</pre><br> 

{% endif %}
      
<form action="{% url 'dbamenu-viewreport' %}" method="POST" id="viewreport_form_id" target="_blank">
            <style>  
                  body {background-color: white;}
               h1   {color: red;}
               p    {color: blue;font-family: Arial ;
                     font-size: 100%;
                                 
               }
             </style>
         
          {% csrf_token %}   </form>
          </li></ul>
            <p>  
            <label>DB Connect string</label> 
             <input form="viewreport_form_id"  type="text"  name="db_tns" id="db_tns"  textarea rows="1" cols="100" placeholder="db_tns" required>
            </p>
             
          
      {% if dbamenu.task_number == 1 %}
            <p> 
            <label>Enter Session(SID,Username,OS-User,Module)</label>  
            <input form="viewreport_form_id"  type="text"  name="1_1_option" id="1_1_option" 
                width=30 size=10 placeholder="sid/user/sqlid,object" required>
            </p>
               
         
          
      {% elif dbamenu.task_number == 2 %}
            <p> 
            <label>Instance Id</label>  
            <input form="viewreport_form_id"  type="text"  name="2_1_option" id="2_1_option" 
                  width=2 size=2 placeholder="instance" required>
            <label>Session id</label>  
            <input form="viewreport_form_id"  type="text"  name="2_2_option" id="2_2_option" 
                  size=6 width=6 placeholder="session" required>
            </p>
      
      {% elif dbamenu.task_number == 3 %}
            <p> 
            <label>Enter sql_id</label>  
            <input form="viewreport_form_id"  type="text"  name="3_1_option" id="3_1_option" 
              textarea rows="1" cols="10" placeholder="sqlid" required>
            </p>
      
      {% elif dbamenu.task_number == 4 %}
            <p> 
            <label>Enter sql_id</label>  
            <input form="viewreport_form_id"  type="text"  name="4_1_option" id="4_1_option" 
               textarea rows="1" cols="10" placeholder="sqlid" required>
            </p>
          
             
      {% elif dbamenu.task_number == 5 %}
            <p> 
            <label>Enter sql_id</label>  
            <input form="viewreport_form_id"  type="text"  name="5_1_option" id="5_1_option" 
              textarea rows="1" cols="10" placeholder="sqlid" required>
            </p>
            
          
               
      {% elif dbamenu.task_number == 6 %}
            <p> 
            <label>Enter sql_id</label>  
            <input form="viewreport_form_id"  type="text"  name="6_1_option" id="6_1_option" 
              textarea rows="1" cols="10" placeholder="sqlid" required>
            </p>
       
      {% elif dbamenu.task_number == 7 %}
            <p> 
            <label>Enter sql_id</label>  
            <input form="viewreport_form_id"  type="text"  name="7_1_option" id="7_1_option" 
                textarea rows="1" cols="10" placeholder="sqlid" required>
            </p>
              
        
      {% elif dbamenu.task_number == 8 %}
            <p> 
            <label>Enter sqlid </label> 
            <input form="viewreport_form_id"  type="text"  name="8_1_option" id="8_1_option" 
            textarea rows="1" cols="10" placeholder="kil session" required>
            </p>
        
      {% elif dbamenu.task_number == 9 %}
            <p> 
            <label> Instance id </label> 
            <input form="viewreport_form_id"  type="text"  name="9_1_option" id="9_1_option" 
              textarea size=2 width2  placeholder="instance" required>
            <label> Session id (null means all sessions) </label>
            <input form="viewreport_form_id"  type="text"  name="9_2_option" id="9_2_option" 
              textarea  widht=5  size=5  value=0  placeholder="session id" >  
            <label> Sql_id (null means all) </label>
            <input form="viewreport_form_id"  type="text"  name="9_3_option" id="9_3_option" 
              textarea size=13 width=13  placeholder="sqlid"  >  
              <br>
            <label> Session start date  </label>
            <input form="viewreport_form_id"  type="date" name="9_4_option" id="9_4_option"  required>  
            <label>  time  </label>
            <input form="viewreport_form_id"  type="time" value="00:00" name="9_41_option" id="9_41_option" required> 
            <label> Duration(minute) </label>
            <input form="viewreport_form_id"  type="text" size=3 width=3 name="9_5_option" id="9_5_option" required> 
                  
            </p>
      
        
      {% elif dbamenu.task_number == 10 %}
            <p> 
            <label>Enter sqlid </label> 
            <input form="viewreport_form_id"  type="text"  name="10_1_option" id="10_1_option" 
               textarea rows="1" cols="10" placeholder="sqlid" required>
            <label> Session start date </label>
            <input form="viewreport_form_id"  type="date" name="10_2_option" id="10_2_option"  required> 
            <label> time </label> 
            <input form="viewreport_form_id"  type="time" value="00:00" name="10_21_option" id="10_21_option" required> 
            <label> Session End date </label>
            <input form="viewreport_form_id"  type="date" name="10_3_option" id="10_3_option" required> 
            <label> time </label>  
            <input form="viewreport_form_id"  type="time" value="00:00" name="10_31_option" id="10_31_option" required> 
            </p>
          
      {% elif dbamenu.task_number == 11 %}
            <p>
            <label>Enter latest  plan change duration(in days) </label>
            <input form="viewreport_form_id"  type="text"  name="11_1_option" id="11_1_option" 
              textarea width=2 size=2 placeholder="Days" required>  
            </p>
      
      {% elif dbamenu.task_number == 12 %}
            <p> 
            <label>Enter table  owner </label> 
            <input form="viewreport_form_id"  type="text"  name="12_1_option" id="12_1_option" 
             textarea rows="1" cols="10" placeholder="owner" required>
            <label>Enter table name </label> 
            <input form="viewreport_form_id"  type="text"  name="12_2_option" id="12_2_option" 
             textarea rows="1" cols="10" placeholder="table" required>
            </p>
        
      {% elif dbamenu.task_number == 13 %}
             
      {% elif dbamenu.task_number == 14 %}
         
      {% elif dbamenu.task_number == 15 %}
          
      {% elif dbamenu.task_number == 16 %}
              
      {% elif dbamenu.task_number == 17 %}
            <p> 
            <label>Enter Session start date  </label>
            <input form="viewreport_form_id"  type="date" name="17_1_option" id="17_1_option"  required> 
            <label>time </label> 
            <input form="viewreport_form_id"  type="time" value ="00:00" name="17_11_option" id="17_11_option" required>
            <label>Enter Session end date   </label> 
            <input form="viewreport_form_id"  type="date" name="17_2_option" id="17_2_option" required>  
            <label>time </label> 
            <input form="viewreport_form_id"  type="time" value ="00:00" name="17_21_option" id="17_21_option" required>  
            </p>
      
      {% elif dbamenu.task_number == 18 %}
            <p> 
            <label>Enter Session start date  </label>
            <input form="viewreport_form_id"  type="date" name="18_1_option" id="18_1_option"  required> 
            <label>time </label> 
            <input form="viewreport_form_id"  type="time" value ="00:00" name="18_11_option" id="18_11_option" required>
            <label>Enter Session end date   </label> 
            <input form="viewreport_form_id"  type="date" name="18_2_option" id="18_2_option" required>  
            <label>time </label> 
            <input form="viewreport_form_id"  type="time" value ="00:00" name="18_21_option" id="18_21_option" required>  
            </p>
      
              
      {% elif dbamenu.task_number == 19 %}
            <p> 
            <label>Enter Session start date  </label>
            <input form="viewreport_form_id"  type="date" name="19_1_option" id="19_1_option"  required> 
            <label>time </label> 
            <input form="viewreport_form_id"  type="time" value ="00:00" name="19_11_option" id="19_11_option" required>
            <label>Enter Session end date   </label> 
            <input form="viewreport_form_id"  type="date" name="19_2_option" id="19_2_option" required>  
            <label>time </label> 
            <input form="viewreport_form_id"  type="time" value ="00:00" name="19_21_option" id="19_21_option" required>  
            </p>
          
      {% elif dbamenu.task_number == 20 %}
            <p> 
            <label>Enter sid/username/sqlid/object:</label> 
            <input form="viewreport_form_id"  type="text"  name="20_1_option" id="20_1_option" 
             textarea rows="1" cols="10" placeholder="sid/user/sqlid,object" required>
            <br>
            <label>Enter Session start date  </label>
            <input form="viewreport_form_id"  type="date" name="20_2_option" id="20_2_option"  required> 
            <label>time </label> 
            
            <input form="viewreport_form_id"  type="time" value ="00:00" name="20_21_option" id="20_21_option" required> 
            <br> <label>Enter Session end date </label>
            <input form="viewreport_form_id"  type="date" name="20_3_option" id="20_3_option" required>  
            <label>time </label> 
            <input form="viewreport_form_id"  type="time" value ="00:00" name="20_31_option" id="20_31_option" required> 
            </p>
                        
        
      {% elif dbamenu.task_number == 21 %}
            <p> 
            <label>Enter SID/USERNAME/SQL_ID/Object </label> 
            <input form="viewreport_form_id"  type="text"  name="21_1_option" id="21_1_option" 
              textarea rows="1" cols="10" placeholder="" required>
            <br><br>
            <label>Enter Session start date  </label>
            <input form="viewreport_form_id"  type="date" name="21_2_option" id="21_2_option"  required> 
            <label>time </label> 
            <input form="viewreport_form_id"  type="time" value ="00:00" name="21_21_option" id="21_21_option" required>
            <br>
            <label>Enter Session end date   </label> 
            
            <input form="viewreport_form_id"  type="date" name="21_3_option" id="21_3_option" required>  
            <label>time </label> 
            <input form="viewreport_form_id"  type="time" value ="00:00" name="21_31_option" id="21_31_option" required>  
            </p>
            
      {% elif dbamenu.task_number == 22 %}
         <p> 
                  <label>Enter SID/USERNAME/SQL_ID/Object </label>  
                  <input form="viewreport_form_id"  type="text"  name="22_1_option" id="22_1_option" 
                   textarea rows="1" cols="10" placeholder="sqlid" required>
                  <br>
                  <label>Enter Session start date  </label>
                  <input form="viewreport_form_id"  type="date" name="22_2_option" id="22_2_option"  required> 
                  <label>time </label> 
                  <input form="viewreport_form_id"  type="time" value ="00:00" name="22_21_option" id="22_21_option" required> 
                  <br> <label>Enter Session end date </label>
                  <input form="viewreport_form_id"  type="date" name="22_3_option" id="22_3_option" required>  
                  <label>time </label> 
                  <input form="viewreport_form_id"  type="time" value ="00:00" name="22_31_option" id="22_31_option" required> 
                  </p>
        
      {% elif dbamenu.task_number == 23 %}
      <p> 
                  <label>Enter sqlid</label> 
                  <input form="viewreport_form_id"  type="text"  name="23_1_option" id="23_1_option" 
                   textarea rows="1" cols="10" placeholder="sqlid" required>
                  <br>
                  <label>Enter Session start date  </label>
                  <input form="viewreport_form_id"  type="date" name="23_2_option" id="23_2_option"  required> 
                  <label>time </label> 
                  <input form="viewreport_form_id"  type="time" value ="00:00" name="23_21_option" id="23_21_option" required> 
                  <br> <label>Enter Session end date </label>
                  <input form="viewreport_form_id"  type="date" name="23_3_option" id="23_3_option" required>  
                  <label>time </label> 
                  <input form="viewreport_form_id"  type="time" value ="00:00" name="23_31_option" id="23_31_option" required> 
                  </p>
        
      {% elif dbamenu.task_number == 24 %}
            <p> 
            <label>Enter Session start date  </label>
            <input form="viewreport_form_id"  type="date" name="24_1_option" id="24_1_option"  required> 
            <label>time </label> 
            <input form="viewreport_form_id"  type="time" value ="00:00" name="24_11_option" id="24_11_option" required>
            <label>Enter Session end date   </label> 
            <input form="viewreport_form_id"  type="date" name="24_2_option" id="24_2_option" required>  
            <label>time </label> 
            <input form="viewreport_form_id"  type="time" value ="00:00" name="24_21_option" id="24_21_option" required>  
            </p>
      
      {% elif dbamenu.task_number == 25 %}
          
      {% elif dbamenu.task_number == 26 %} 
      

      {% elif dbamenu.task_number == 27 %}
      <p>
                  <label>
                  <input type="radio" form="viewreport_form_id" name="awrsnaptype" value="singlesnap"/> AWR - Single Snap </label>
                  <label>
                  <input type="radio" form="viewreport_form_id" name="awrsnaptype" value="multisnap" /> AWR - 2 Snap Comparision </label>
                  <form id="45_inst_form_id" action="{% url 'dbamenu-getinst' %}" method="POST" target="_blank">      
                       {% csrf_token %}  </form>

                       <label>Instance id  </label>
                       <input form="viewreport_form_id"  type="text" name="45_1_option" id="45_1_option" 
                             placeholder="ins id" maxlength="1" size="1" required>      
                  <input form="45_inst_form_id"  type="button"  value="GetInstance"   name="GetInstance" onclick="inst_45_fun()">
            
                  <script>
                        function inst_45_fun() {
                              var my_form = document.getElementById("45_inst_form_id");
                              var db_name = document.getElementById("db_tns");
                              var nm_db_name = db_name.name;
                              var val_db_name = db_name.value;
                              
                              my_db=document.createElement('INPUT');
                              my_db.type='HIDDEN';
                               
                              my_db.value=val_db_name;
                              my_db.name=nm_db_name;
                
                              my_form.appendChild(my_db);
                              my_form.submit();
                            
                        }
                        </script> 
                      
                  <br>     
                 
                  <label>Start snap id </label>
                        <input form="viewreport_form_id"  type="text"  name="45_2_option" id="45_2_option" 
                        textarea rows="1" cols="10" placeholder="start snap id" maxlength="7" size="7" 
                        required onchange="startsnapfun()">  
                        <script>
                              function startsnapfun() {
                                    var snap_start_id = document.getElementById("45_2_option")
                                    var snap_end_id = document.getElementById("45_3_option")
                                    }
                        </script>
            
                  <label>End snap id </label>
                        <input form="viewreport_form_id"  type="text"  name="45_3_option" id="45_3_option" 
                        textarea rows="1" cols="10" placeholder="end snap id" maxlength="7" size="7" required>  

                        <form id="awrsnap_form_id" action="{% url 'dbamenu-awrsnapdetail' %}" method="POST" target="_blank">      
                        {% csrf_token %}  </form>  
                                            
                        <input form="awrsnap_form_id"  type="button"  value="awrsnapid"   name="awrsnapid" onclick="awrgetsnap()">
                   
                        <script>
                        function awrgetsnap() {
                        
                              var my_form = document.getElementById("awrsnap_form_id");
                              var db_name = document.getElementById("db_tns");
                              var ins_id = document.getElementById("45_1_option");
                              var nm_db_name = db_name.name;
                              var nm_ins_id = ins_id.name;
                              var val_db_name = db_name.value;
                              var val_ins_id = ins_id.value;
            
                              my_db=document.createElement('INPUT');
                              my_db.type='HIDDEN';
                              my_db.value=val_db_name;
                              my_db.name=nm_db_name;
                              my_tb=document.createElement('INPUT');
                              my_tb.type='HIDDEN';
                              my_tb.value=val_ins_id;
                              my_tb.name=nm_ins_id;
            
                              my_form.appendChild(my_db);
                              my_form.appendChild(my_tb);
                              
                              my_form.submit();
                        }
                        </script> 
                  <br>     
                  
                 
                    
                  <br>
                   
                  <label> 2nd Instance id  </label>
                  <input form="viewreport_form_id"  type="text" name="45_4_option" id="45_4_option" 
                     placeholder="2-ins id" maxlength="1" size="3">  
            
                  <label>Start snap id </label>
                  <input form="viewreport_form_id"  type="text"  name="45_5_option" id="45_5_option" 
                     textarea rows="1" cols="10" placeholder="2-start snap id"  maxlength="7" size="7">  
                  
                  <label>End snap id </label>
                  <input form="viewreport_form_id"  type="text"  name="45_6_option" id="45_6_option" 
                     textarea rows="1" cols="10" placeholder="2-end snap id"  maxlength="7" size="7"> 
            
                 <br> 
            
              
      {% elif dbamenu.task_number == 29 %}
            <p> 
            <label>Enter username(default all active sessions)</label>  
            <input form="viewreport_form_id"  type="text"  name="29_1_option" id="29_1_option" 
                  textarea rows="1" cols="10" placeholder="sesion id"  >
            </p>
      {% elif dbamenu.task_number == 30 %}
          
      {% elif dbamenu.task_number == 31 %}
            
      {% elif dbamenu.task_number == 32 %}
            
      {% elif dbamenu.task_number == 33 %}
      <p> 
            <label>Tablespace name</label>  
            <input form="viewreport_form_id"  type="text"  name="33_1_option" id="33_1_option" 
                  textarea rows="1" cols="10" placeholder="tablespace"  >

      {% elif dbamenu.task_number == 34 %}
            <p>
                  <form id="34_inst_form_id" action="{% url 'dbamenu-getinst' %}" method="POST" target="_blank">      
                      {% csrf_token %}  </form>
                  <input form="34_inst_form_id"  type="button"  value="GetInstance"   name="GetInstance" onclick="inst_34_fun()">
                  <script>
                      function inst_34_fun() {
                              var my_form = document.getElementById("34_inst_form_id");
                              var db_name = document.getElementById("db_tns");
                              var nm_db_name = db_name.name;
                              var val_db_name = db_name.value;
                              my_db=document.createElement('INPUT');
                              my_db.type='HIDDEN';
                              my_db.value=val_db_name;
                              my_db.name=nm_db_name;
                              my_form.appendChild(my_db);
                              my_form.submit();
                        }
                  </script> 
                  
                  <label>Enter Instance Id </label>
                  <input form="viewreport_form_id"  type="text"  name="34_1_option" id="34_1_option" 
                      width=2 size=2 placeholder="instance_id" required> <br> 
                  <form id="34_snap_form_id" action="{% url 'dbamenu-34snap' %}" method="POST" target="_blank">      
                       {% csrf_token %}  </form>
                  <input form="34_snap_form_id"  type="button"  value="AwrSnap"   name="AwrSnap" onclick="snap_34_fun()">
                  <script>
                          function snap_34_fun() {
                            var my_form = document.getElementById("34_snap_form_id");
                            var db_name = document.getElementById("db_tns");
                            var nm_db_name = db_name.name;
                            var val_db_name = db_name.value;
            
                            var ins_id = document.getElementById("34_1_option");
                            var nm_ins_id = ins_id.name;
                            var val_ins_id = ins_id.value;
            
                            my_db=document.createElement('INPUT');
                            my_db.type='HIDDEN';
                            my_db.value=val_db_name;
                            my_db.name=nm_db_name;
                
                            my_tb=document.createElement('INPUT');
                            my_tb.type='HIDDEN';
                            my_tb.value=val_ins_id;
                            my_tb.name=nm_ins_id;
            
                            my_form.appendChild(my_db);
                            my_form.appendChild(my_tb);
                        
                            my_form.submit();
                            
                          }
                      </script> 
                   <br>   
                  <label>First snap Id </label>
                  <input form="viewreport_form_id"  type="text"  name="34_2_option" id="34_2_option" 
                     width=6 size=6 placeholder="firt snap_id" required>  
                  <br>    
                  <label>End snap id </label>
                  <input form="viewreport_form_id"  type="text"  name="34_3_option" id="34_3_option" 
                     width=6 size=6 placeholder="End snap id" required>  
                  <br>
                  <form id="34_waitclass_form_id" action="{% url 'dbamenu-34waitclass' %}" method="POST" target="_blank">      
                        {% csrf_token %}  </form>
                  <input form="34_waitclass_form_id"  type="button"  value="WaitClass"   name="WaitClass" onclick="waitclass_34_fun()">
                  
                  <script>
                        function waitclass_34_fun() {
                              var my_form = document.getElementById("34_waitclass_form_id");
                              var db_name = document.getElementById("db_tns");
                              var ins_id = document.getElementById("34_1_option");
                              var s_snap = document.getElementById("34_2_option");
                              var e_snap = document.getElementById("34_3_option");
                              var nm_ins_id = ins_id.name;
                              var val_ins_id = ins_id.value;
                              var nm_db_name = db_name.name;
                              var val_db_name = db_name.value;
                              var s_snap_name = s_snap.name;
                              var s_snap_val = s_snap.value;
                              var e_snap_name = e_snap.name;
                              var e_snap_val = e_snap.value;
                               
                              my_db=document.createElement('INPUT');
                              my_db.type='HIDDEN';
                              my_db.value=val_db_name;
                              my_db.name=nm_db_name;
                   
                              my_tb=document.createElement('INPUT');
                              my_tb.type='HIDDEN';
                              my_tb.value=val_ins_id;
                              my_tb.name=nm_ins_id;
               
                              s_snap_tb=document.createElement('INPUT');
                              s_snap_tb.type='HIDDEN';
                              s_snap_tb.value=s_snap_val;
                              s_snap_tb.name=s_snap_name; 
            
                              e_snap_tb=document.createElement('INPUT');
                              e_snap_tb.type='HIDDEN';
                              e_snap_tb.value=e_snap_val;
                              e_snap_tb.name=e_snap_name;  
            
                              my_form.appendChild(my_db);
                              my_form.appendChild(my_tb);
                              my_form.appendChild(s_snap_tb);
                              my_form.appendChild(e_snap_tb);
                           
                              my_form.submit();
                               
                             }
                        </script> 
                         
                     
                  <label>Enter wait class id </label>
                  <input form="viewreport_form_id"  type="text"  name="34_4_option" id="34_4_option" 
                     width=10 size=10 placeholder="wait class id" required>  
                  <br>
                  <form id="34_waitevent_form_id" action="{% url 'dbamenu-34waitevent' %}" method="POST" target="_blank">      
                          {% csrf_token %}  </form>
                  <input form="34_waitevent_form_id"  type="button"  value="WaitEvent"   name="WaitEvent" 
                     onclick="waitevent_34_fun()">
                  <script>
                        function waitevent_34_fun() {
                              var my_form = document.getElementById("34_waitevent_form_id");
                              var db_name = document.getElementById("db_tns");
                              var ins_id = document.getElementById("34_1_option");
                              var s_snap = document.getElementById("34_2_option");
                              var e_snap = document.getElementById("34_3_option");
                              var w_class = document.getElementById("34_4_option");
                              var nm_ins_id = ins_id.name;
                              var val_ins_id = ins_id.value;
                              var nm_db_name = db_name.name;
                              var val_db_name = db_name.value;
                              var s_snap_name = s_snap.name;
                              var s_snap_val = s_snap.value;
                              var e_snap_name = e_snap.name;
                              var e_snap_val = e_snap.value;
                              var w_class_name = w_class.name;
                              var w_class_val = w_class.value;
                              
                              my_db=document.createElement('INPUT');
                              my_db.type='HIDDEN';
                              my_db.value=val_db_name;
                              my_db.name=nm_db_name;
                              my_tb=document.createElement('INPUT');
                              my_tb.type='HIDDEN';
                              my_tb.value=val_ins_id;
                              my_tb.name=nm_ins_id;
               
                              s_snap_tb=document.createElement('INPUT');
                              s_snap_tb.type='HIDDEN';
                              s_snap_tb.value=s_snap_val;
                              s_snap_tb.name=s_snap_name; 
            
                              e_snap_tb=document.createElement('INPUT');
                              e_snap_tb.type='HIDDEN';
                              e_snap_tb.value=e_snap_val;
                              e_snap_tb.name=e_snap_name;  
            
                              w_class_tb=document.createElement('INPUT');
                              w_class_tb.type='HIDDEN';
                              w_class_tb.value=w_class_val;
                              w_class_tb.name=w_class_name;  
            
                              my_form.appendChild(my_db);
                              my_form.appendChild(my_tb);
                              my_form.appendChild(s_snap_tb);
                              my_form.appendChild(e_snap_tb);
                              my_form.appendChild(w_class_tb);
                           
                              my_form.submit();
                               
                        }
                        </script> 
                              
                  <label>Enter Event id </label>
                  <input form="viewreport_form_id"  type="text"  name="34_5_option" id="34_5_option" 
                     textarea rows="1" cols="10" placeholder="Event Id" required>  
                  <br>
                  <form id="34_waiteventsql_form_id" action="{% url 'dbamenu-34waitsqlevent' %}" method="POST" target="_blank">      
                     {% csrf_token %}  </form>
                  <input form="34_waiteventsql_form_id"  type="button"  value="GetSqlid"  name="GetSqlid" 
                     onclick="waiteventsql_34_fun()">
                  <script>
                        function waiteventsql_34_fun() {
                              var my_form = document.getElementById("34_waiteventsql_form_id");
                              var db_name = document.getElementById("db_tns");
                              var ins_id = document.getElementById("34_1_option");
                              var s_snap = document.getElementById("34_2_option");
                              var e_snap = document.getElementById("34_3_option");
                              var w_event = document.getElementById("34_5_option");
                              var nm_ins_id = ins_id.name;
                              var val_ins_id = ins_id.value;
                              var nm_db_name = db_name.name;
                              var val_db_name = db_name.value;
                              var s_snap_name = s_snap.name;
                              var s_snap_val = s_snap.value;
                              var e_snap_name = e_snap.name;
                              var e_snap_val = e_snap.value;
                              var w_event_name = w_event.name;
                              var w_event_value = w_event.value;
                              
                              my_db=document.createElement('INPUT');
                              my_db.type='HIDDEN';
                              my_db.value=val_db_name;
                              my_db.name=nm_db_name;
                              my_tb=document.createElement('INPUT');
                              my_tb.type='HIDDEN';
                              my_tb.value=val_ins_id;
                              my_tb.name=nm_ins_id;
            
                              s_snap_tb=document.createElement('INPUT');
                              s_snap_tb.type='HIDDEN';
                              s_snap_tb.value=s_snap_val;
                              s_snap_tb.name=s_snap_name; 
            
                              e_snap_tb=document.createElement('INPUT');
                              e_snap_tb.type='HIDDEN';
                              e_snap_tb.value=e_snap_val;
                              e_snap_tb.name=e_snap_name;  
            
                              w_event_tb=document.createElement('INPUT');
                              w_event_tb.type='HIDDEN';
                              w_event_tb.value=w_event_value;
                              w_event_tb.name=w_event_name;  
            
                              my_form.appendChild(my_db);
                              my_form.appendChild(my_tb);
                              my_form.appendChild(s_snap_tb);
                              my_form.appendChild(e_snap_tb);
                              my_form.appendChild(w_event_tb);
                      
                              my_form.submit();
                          
                        }
                        </script> 
                    
                  <label> Enter sql_id </label>
                  <input form="viewreport_form_id"  type="text"  name="34_6_option" id="34_6_option" 
                     textarea rows="1" cols="10" placeholder="sql Id" required>  
                  <br>
                  <form id="34_sqlxplan_form_id" action="{% url 'dbamenu-34xplan' %}" method="POST" target="_blank">      
                      {% csrf_token %}  </form>
                  <input form="34_sqlxplan_form_id"  type="button"  value="SqlXplan"  name="SqlXplan" 
                        onclick="sqlxplan_34_fun()">
                  <script>
                        function sqlxplan_34_fun() {
                              var my_form = document.getElementById("34_sqlxplan_form_id");
                              var db_name = document.getElementById("db_tns");
                              var sql_id = document.getElementById("34_6_option");
                              var nm_db_name = db_name.name;
                              var val_db_name = db_name.value;
                              var sql_id_name = sql_id.name;
                              var sql_id_value = sql_id.value;
            
                              my_db=document.createElement('INPUT');
                              my_db.type='HIDDEN';
                              my_db.value=val_db_name;
                              my_db.name=nm_db_name;
              
                              sql_tb=document.createElement('INPUT');
                              sql_tb.type='HIDDEN';
                              sql_tb.value=sql_id_value;
                              sql_tb.name=sql_id_name;
            
                              my_form.appendChild(my_db);
                              my_form.appendChild(sql_tb);
                               
                              my_form.submit();
                          
                        }
                        </script> 
                  </p>

      
           
      {% elif dbamenu.task_number == 35 %}
      
      {% elif dbamenu.task_number == 36 %}
      
      {% elif dbamenu.task_number == 37 %}
         
      {% elif dbamenu.task_number == 38 %}
      
      {% elif dbamenu.task_number == 39 %}
         
      {% elif dbamenu.task_number == 40 %}
      
      
      {% elif dbamenu.task_number == 99 %}
            <p>
            <label>Enter sqlid </label>
            <input form="viewreport_form_id"  type="text"  name="99_1_option" id="99_1_option" 
             textarea rows="1" cols="10" placeholder="sqlid" required>  
             </p>
             
            <input form="viewreport_form_id" type="radio" name="sqltype" value="PROGRESS"> PROGRESS<br>
            <input form="viewreport_form_id" type="radio" name="sqltype" value="PLANHIST" > PLANHIST<br>
            <input form="viewreport_form_id" type="radio" name="sqltype" value="QRYTXT"> QRYTXT<br>
            <input form="viewreport_form_id" type="radio" name="sqltype" value="SQLIDSESS"> SQLIDSESS<br>
            <input form="viewreport_form_id" type="radio" name="sqltype" value="FLUSHPLAN" > FLUSHPLAN<br>
            <input form="viewreport_form_id" type="radio" name="sqltype" value="STALESTATS"> STALESTATS<br>
            <input form="viewreport_form_id" type="radio" name="sqltype" value="CHECKPINPLAN"> CHECKPINPLAN<br> 
            
            <input form="viewreport_form_id" type="radio" name="sqltype" value="CUREXPLN"> CUREXPLN<br>
            <input form="viewreport_form_id" type="radio" name="sqltype" value="ADDMCHECK"> ADDMCHECK<br>
            <input form="viewreport_form_id" type="radio" name="sqltype" value="CHGSQLID"> CHGSQLID<br>
            <input form="viewreport_form_id" type="radio" name="sqltype" value="SPMCHECK"> SPMCHECK<br>
            <input form="viewreport_form_id" type="radio" name="sqltype" value="BINDHIST"> BINDHIST<br>
            
      {% endif %}   
        
            <input form="viewreport_form_id" class="btn btn-primary" type="submit" value="Run"
                  name="{{dbamenu.task_number}}" id="{{dbamenu.task_number}}"> 
             
      {% endblock %}